<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45 bottom">

  <div class="t-center p-l-15 p-r-15">
    <div class="t-center s-text8 p-t-20">
      <h6 style="font-weight: bold"> GET IN TOUCH </h6>
      <span> Any questions? Let us know via call or whatsapp us on <b style="font-weight: bold">(+91) 9041829066 </b>or e-mail us at  <b style="font-weight: bold">princeofficial88@gmail.com </b></span>

    </div>
  </div>
  <br/>
  <div class="t-center p-l-15 p-r-15">
    <a href="https://www.facebook.com/FabHanda1/" class="fs-18 color1 p-r-20 fa fa-facebook" target="_blank"  ></a>
    <a href="https://www.facebook.com/FabHanda1/" class="fs-18 color1 p-r-20 fa fa-instagram" target="_blank" ></a>
    <a href="https://www.facebook.com/FabHanda1/" class="fs-18 color1 p-r-20 fa fa-pinterest-p" target="_blank" ></a>
  </div>
 

  <div class="t-center p-l-15 p-r-15">
    <div class="t-center s-text8 p-t-20">
      Copyright © 2018 All rights reserved.
    </div>
  </div>
</footer>
